{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section  border-1 rounded bg-light ms-auto p-3 mt-2">
    <div class="row">
        <img style = "width: 120px; height: 100px;" class="col-md-2 sm-8 rounded-circle " src="{{ user.profile.image.url }}" alt="No image Available">
        <div class="col">
          <h3 class="mt-2">{{ user.username }}</h3>
          <p class="text-secondary">{{ user.email}}</p>
        </div>
      </div>
      <div class="form-group mt-3" >
        <legend class="mb-3 border-bottom">Profile Info</legend>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy}}
        {{ p_form|crispy}}

            <button class="btn  btn-outline-dark mt-2" type="submit"> Update</button>
        
        </form>
    </div>
    
</div>

{% endblock content %}