.article-heading{
    text-decoration: none;
    color :rgb(81, 87, 90);
    
}
.article-heading:hover{
    color:rgb(25, 27, 27)
}
.user-title{
    text-decoration: none;
    color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }